reddit.sqlite
saved_bum
saved_dyke
saved_gay
saved_fag
saved_faggot
saved_poof
OutputTimesCameron.txt
OutputTimesCuba.txt
OutputTimesFaggot.txt
OutputTweet.txt
OutputTweetCameron.txt
OutputTweetCuba.txt
OutputTweetFaggot.txt

